
<div class="container-fluid shop" [class.dark]="setTheme">
    <div class="top-bar">
        <div>
            <div class="site" (click)="setCategoryClicked(false);refreshPage()">E-Shop</div>
            
            <!-- <input class="form-control web-search" type="text" placeholder="Search" #input (keypress)="onKeyPress($event)" (keydown.enter)="searchProduct(input.value);setCategoryClicked(true)"> -->

            <input type="text" class="form-control web-search" matInput placeholder="Search" [formControl]="searchInput" [matAutocomplete]="auto" (keypress)="onKeyPress($event)" (keydown.enter)="searchProduct(input.value);setCategoryClicked(true)"  #input>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="searchOptions" [disabled]="option === 'No item found'">
                  {{option}}
                </mat-option>
            </mat-autocomplete>

            <div class="material-symbols-outlined cart" (click)="addtoCart()">
                shopping_cart
                <span class="badge badge-warning">{{cartLength}}</span>
            </div>

            <div>
                <mat-slide-toggle [checked]="togglePosition" (click)="changeTheme($event)"></mat-slide-toggle>
            </div>
        </div>
    </div>

    <div class="category">
        <div class="btn-group" *ngFor="let category of productCategory;let i=index">
            <button type="button" class="btn btn-default list" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" (mouseenter)="categoryList(i);openMenu(trigger)" (mouseleave)="prepareClose(trigger);">
                {{category}}
            </button>

            <mat-menu [hasBackdrop]="false" #menu="matMenu" class="menu" id="matPanel">
                <span (mouseenter)="stopClose(trigger)" (mouseleave)="trigger.closeMenu()">
                    <button *ngFor="let index of list;let i=index;" mat-menu-item class="list" (click)="categoryProduct(index.request,index.category);setCategoryClicked(true)">{{index.category}}</button>
                </span>
            </mat-menu>
        </div> 
    </div>
    <br>
    
    <div class="container-fluid product-section">

        <app-filter class="product-grid1"></app-filter>

        <div class="product-grid2" [@stagger]="allProductList.length">

            <div class="sort">
                <div>Sort By</div>

                <mat-tab-group (selectedTabChange)="sortList($event)" [selectedIndex]="tabIndex" >
                    <mat-tab></mat-tab>
                    <mat-tab label="Price - Low to High" fitInkBarToContent></mat-tab>
                    <mat-tab label="Price - High to Low"></mat-tab>
                    <mat-tab label="Discount %"></mat-tab>
                </mat-tab-group>
            </div>

            <!-- <div class="header">{{categoryProducts}}</div> -->

            <div class="products">
                <div *ngFor="let product of allProductList" (click)="viewProduct(product)" class="productList">
                    <div class="product-col1">
                        <img class="thumbnail" [src]="product.thumbnail">
                    </div>
                    
                    <div class="product-col2">
                        <div class="brand">{{product.brand}}</div>
                    
                    <a class="title">{{product.title}} </a>
                    
                    <div class="lP">
                        <div class="discount">-{{product.discountPercentage}}%</div>
                        <div class="price">$ {{product.price}}</div>
                    </div>
                    
                    <div class="mrp">
                        M. R. P: 
                        <span class="originalPrice">
                           $ {{product.price/(1-(product.discountPercentage/100)) | number}}
                        </span> 
                    </div>
                </div> 
            </div>

            <!-- <mat-card class="product-col2">
                <mat-card-content class="product">  
                    <div class="product-col1">
                        <img class="thumbnail" src="{{product.thumbnail}}">
                    </div>

                    <div class="product-col2">
                        <div class="brand">{{product.brand}}</div>
                        
                        <mat-card-title class="title">{{product.title}}</mat-card-title>
                        
                        <div class="lP">
                            <div class="discount">-{{product.discountPercentage}}%</div>
                            <div class="price">$ {{product.price}}</div>
                        </div>
                        
                        <div class="mrp">
                            M. R. P: 
                            <span class="originalPrice">
                                {{product.price/(1-(product.discountPercentage/100)) | number}}
                            </span> 
                        </div>
                    </div>
                </mat-card-content>
            </mat-card> -->
        </div>
        
        <div *ngIf="allProductList.length == 0" class="none">
            <p>No Item Found</p>
        </div>
    </div>

    </div>

    <!-- <mat-paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5,10,15,20,25]" (page)="paginationFunction($event)"></mat-paginator> -->
</div>
    

    
