
.container {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Rethink Sans', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Libre Franklin', sans-serif; */

    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    margin-top: 100px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 15px;
}

.form-field > .form-label {
    font-weight: 500;
}

.btn {
    width: 100%;
    margin-top: 15px;
}

.hidden {
    width: fit-content;
}

.form-pwd,.form-checkbox {
    display: flex;
}

.form-pwd > button > span {
    float: right;
}

.form-checkbox > input {
    margin-right: 5px;
    
}

